// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

// FontAwesome
@import '~font-awesome/scss/font-awesome';

// Select2
@import "~select2/dist/css/select2.css";

.select2 {
  width: 100% !important;
}

.select2-dropdown,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid $input-border;
  border-radius: 0.25rem;
}

.select2-container,
.select2-container--default .select2-selection--multiple {
  font-size: $font-size-base;
}
